<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:security="http://www.springframework.org/schema/security"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:p="http://www.springframework.org/schema/p" 
xmlns:aop="http://www.springframework.org/schema/aop" 
xmlns:context="http://www.springframework.org/schema/context" 
xmlns:jee="http://www.springframework.org/schema/jee" 
xmlns:tx="http://www.springframework.org/schema/tx" 
xmlns:task="http://www.springframework.org/schema/task" 
xmlns:lang="http://www.springframework.org/schema/lang"
xmlns:util="http://www.springframework.org/schema/util"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xsi:schemaLocation="
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.2.xsd 
http://www.springframework.org/schema/jee 
http://www.springframework.org/schema/jee/spring-jee-4.2.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.2.xsd 
http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task-4.2.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd
http://www.springframework.org/schema/lang
http://www.springframework.org/schema/lang/spring-lang-4.2.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-4.2.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

<tx:annotation-driven/>
<context:annotation-config/>

<context:component-scan base-package="org.zaytsev.control"/>

<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	<property name="prefix" value="/WEB-INF/pages/"/>
	<property name="suffix" value=".jsp"/>
</bean>


<mvc:annotation-driven />

<context:property-placeholder location="classpath:application.properties"/>

<bean id="sessionFactory"
	class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	<property name="dataSource" ref="dataSource"/>
	<property name="packagesToScan">
		<list>
			<value>org.zaytsev.control.models</value>
		</list>
	</property>
	<property name="hibernateProperties">
		<props>
			<prop key="hibernate.hbm2ddl.auto">update</prop>
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			<prop key="hibernate.show_sql">false</prop>
			<prop key="hibernate.connection.charSet">UTF-8</prop>
			<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
		</props>
	</property>
</bean>

<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
	<property name="sessionFactory" ref="sessionFactory"/>
</bean>

<tx:annotation-driven transaction-manager="transactionManager"/>

<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
	<property name="driverClassName" value="${db.class}"/>
	<property name="url" value="${db.url}"/>
	<property name="username" value="${db.username}"/>
	<property name="password" value="${db.password}"/>
	<property name="initialSize" value="5" />
    <property name="maxActive" value="10" />
    <property name="maxIdle" value="5" />
    <property name="minIdle" value="2" />
</bean>

<security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled" />
<security:debug/>

<security:http pattern="/resources/**" security="none" />
<security:http pattern="/css/**" security="none" />
<security:http pattern="/js/**" security="none" />
<security:http pattern="/images/**" security="none" />
<security:http pattern="/fonts/**" security="none" />

<security:http auto-config="true" use-expressions="true">
	<security:access-denied-handler error-page="/access_denied"/>
	<security:form-login login-page="/login"
		login-processing-url="/auth" username-parameter="username"
		password-parameter="password" default-target-url="/request/list"
		always-use-default-target="true" authentication-failure-url="/login?error=invalidLoginPassword"/>
	<security:intercept-url pattern="/request/list" access="isAuthenticated()"/>
	<security:intercept-url pattern="/settings/" access="isAuthenticated()"/>
	<security:intercept-url pattern="/request/all-list" access="isAuthenticated()"/>
	<security:intercept-url pattern="/" access="isAuthenticated()"/>
	<security:logout logout-url="/logouth" delete-cookies="	JSESSIONID" invalidate-session="true" />
	<security:remember-me  user-service-ref="userService"  key="controlKey" token-validity-seconds="864000" remember-me-parameter="ControlRequest"  />
	<security:csrf/>
	
</security:http>




<security:authentication-manager>
	<security:authentication-provider user-service-ref="userService">
		<security:password-encoder ref="passwordHelper" />
	</security:authentication-provider>
</security:authentication-manager>



<bean id ="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
	<property name="rolePrefix" value=""/>
</bean>





</beans>